@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.display-none {
  display: none;
}

.header {
  display: flex;

  background-color: #0067A3;
  color: #FFFFFF;
  height: 55px;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  width: 100%;
}

@media (max-width: 430px) {
  .header__logo {
    display: none;
  }

  .header-wrapper {
    justify-content: flex-end;
  }
}


select {
  font-size: 18px;
  font-weight: 400;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 8px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 14px;
  width: calc(100% - 25px);
  margin: 0 auto;
  margin-top: 15px;
  height: 35px;
  border: none;
  padding-left: 7px;
  box-sizing: border-box;
  border-radius: 5px;
}

option {
  font-size: 18px;
  font-weight: 400;
}

p {
  margin: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 6px;
}

.button__menu {
  display: flex;
  width: 12px;
  height: 7.5px;
  border: 0;
  background-image: url(../img/arrow.svg);
  background-color: transparent;
}

.profile-menu {
  position: absolute;
  width: 134px;
  height: 60px;
  border-radius: 5px;
  right: 9px;
  top: 61px;

  z-index: 1;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background-color: #FFFFFF;

}

.decorative-elem {
  position: absolute;
  right: 36px;
  top: -6px;
  transform: rotate(45deg);
  width: 11px;
  height: 11px;
  background-color: #FFFFFF;
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  top: 7px;
  gap: 5px;
}

.menu__buttons :hover {
  font-weight: 600;
}

/* main section */

main {
  background-color: #0079bf;
  min-height: 88vh;
}

.tasks-wrapper {
  position: relative;
  top: 20px;
  margin: 0 12px;
}

.tasks {
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1235px) {
  .tasks {
    flex-direction: column;
    gap: 91px;
    margin: 0;
  }
  main {
    background-color: #0079bf;
    min-height: 100%;
  }
}

@media (max-width: 1235px) {
  .tasks>div {
    margin: 0;
  }

  .tasks:last-child {
    padding-bottom: 91px;
  }
}

.tasks__title {
  top: 12px;
  left: 12px;
}

.tasks>* p {
  position: relative;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.submit {
  display: flex;
  align-items: baseline;
  margin-left: 7px;
  gap: 4px;
  margin-top: 10px;
  height: 29px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #0079bf;
  width: 102px;
  color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 7px;
}

.submit-disabled {
  display: flex;
  align-items: baseline;
  margin-left: 7px;
  gap: 4px;
  margin-top: 10px;
  height: 29px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #b0b0b0;
  width: 102px;
  color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 7px;
  cursor: auto;
}

.tasks__add {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  line-height: 21px;
  color: #5E6C84;
  margin-left: 7px;
  gap: 4px;
  padding-top: 10px;
  bottom: 0px;
}

.tasks__add-disabled {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  line-height: 21px;
  color: #5E6C84;
  margin-left: 7px;
  gap: 4px;
  padding-top: 10px;
  bottom: 0px;
  cursor: auto;
}

@media (max-width: 960px) {
  .tasks>* {
    position: relative;
    min-width: 250px;
    width: 100%;
    margin: 0 10px;
  }
}

@media (max-width: 1200px) {
  .tasks>* {
    min-width: 150px;
  }
}

@media (max-width: 1500px) {
  .tasks>* {
    min-width: 282px;
    width: 100%;
    margin: 0 10px;
  }
}

@media (min-width: 1500px) {
  .tasks>* {
    position: relative;
    min-width: 350px;
    width: 100%;
    margin: 0 10px;
    height: 100%;
  }
}

.tasks>* {
  min-height: 197px;
  background: #EBECF0;
  border-radius: 10px;
}

.new__task {
  display: flex;
  top: 24px;
  background: #FFFFFF;
  border-radius: 5px;
  min-height: 35px;
  margin: 15px auto;
  border: 0;
  width: calc(100% - 25px);
  letter-spacing: 0.20px;
  padding-left: 12px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
}

.tasks__container {
  position: relative;
  width: calc(100% - 25px);
  min-height: 120px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  color: #000000;
  font-size: 18px;
  background-color: #EBECF0 !important;
  overflow-y:auto;
  max-height: 538px;
  overflow-x: hidden;
}
@media (max-width: 1235px) {
  .tasks__container {
    max-height: 235px;
    overflow-y: scroll;
  }
}

.tasks__container>div {
  cursor: pointer;
}

.tasks__content {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #FFFFFF;
  min-height: 35px;
  margin-top: 15px;
  border-radius: 5px;
  padding-left: 7px;
  box-sizing: border-box;
  font-family: "Roboto";
  color: #000000;
}

.todo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* footer section */
footer {
  display: flex;
  align-items: center;

  background-color: #0067A3;
  height: 55px;
  color: #FFFFFF;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  width: 100%;

}

.footer__stats {
  display: flex;
  gap: 36px;
}

@media (max-width: 580px) {
  .footer__author {
    display: none;
  }
}


/* Страница редактирования описания */



.edit-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: #0079bf;
}

.edit-page__main {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.edit-page__main-wrapper {
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 22px;
  box-sizing: border-box;
}

.edit-page__main-title {
  display: flex;
  justify-content: space-between;
  margin: 0 29px;
}

.edit-page__main-title h2 {
  font-size: 24px;
  font-weight: 400;
}

.edit-page__main-textarea {
  box-sizing: border-box;
  width: 50%;
  border-radius: 5px;
  padding: 30px 35px 30px;
  border: 0px;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  resize: none;
  height: 90%;
}

@media (max-width: 960px) {
  .edit-page__main-textarea {
    width: 100%;
  }
}

.edit-page__main-textarea:focus {
  outline: none;
}